@import url('fonts/font-awesome.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #405060;
}

html,
body,
#root {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}